<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="A" value="1" />
    <add key="EmptyValue" value="" />
    <add key="Section:Sub" value="val" />
  </appSettings>
  <connectionStrings>
    <add name="MainDb" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=True" />
    <add name="Secondary" connectionString="Server=(local);Database=Db2;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>
